.loginArea{
    display: flex;
    align-items: center;
    justify-content:center;
    height:100vh;

    .headerArea{
        width: 330px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content:center;

        &>span{
            margin-left: 10px;
            font-weight: 600;
            font-size: 33px;
        }
    }

    .formArea{
        width: 330px;
    }
}