.navbar {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;

  .logoArea {
    cursor: pointer;
  }

  .linkArea {
    a {
      font-size: 18px;
      padding: 0 20px;
      color: #515767;
    }

    .active {
      color: #1e80ff;
    }
  }

  .searchArea {
    padding: 0 0 0 160px;
    width: 390px;
  }

  .operationArea {
    margin-left: 40px;

    button {
      margin-right: 20px;
    }
  }
}
