.container {
  margin: 0 auto;

  .operation {
    display: flex;
    padding: 6px 10px 0;

    .title {
      width: 65%;
    }

    .tag {
      width: 25%;
    }

    .button,
    .goBack {
      width: 5%;
      margin-left: 10px;
    }
  }
}
