.header {
  padding-top: 20px;
  text-align: center;

  & > span {
    font-size: 2.6rem;
    background: linear-gradient(90deg, #7928ca, #ff0080);
    background-clip: text;
    color: transparent;
  }
}
